rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null &&
        request.auth.token.email == 'sandip2007mukherjee@gmail.com' &&
        request.auth.token.email_verified == true || request.auth.token.email == 'sandip2007mukherjee@gmail.com';
    }
    match /activity/{id} {
      allow create: if true;
      allow read, update, delete: if isAdmin();
    }
    match /presence/{id} {
      allow create, update: if true;
      allow read, delete: if isAdmin();
    }
    match /notes/{id} {
      allow read: if true;
      allow write: if isAdmin();
    }
    match /emotions/{id} {
      allow read: if true;
      allow write: if isAdmin();
    }
    match /settings/{id} {
      allow read: if true;
      allow write: if isAdmin();
    }
    match /activities/{id} { allow read,write: if false; }
    match /{document=**} { allow read, write: if false; }
  }
}